{{#ifEquals project.state 1}}
<div class="archived">
    <b>Note: </b> This project is archived, nothing can be modified unless unarchived.
</div>
{{/ifEquals}}
<span id="project-state" style="display: none!important;">{{project.state}}</span>