<footer>
    <div class="footer-row">
        <div class="main">
            <h2>Power Tools</h2>
            <p>A platform which makes it easier for students to manage their projects; solo or in a group setting.</p>
            <div class="gapped">
                {{#isntEmpty user}}
                <a class="btn flex-1" href="/api/auth/logout">Logout</a>
                {{else}}
                <a class="btn flex-1" href="/api/auth/signup">Register</a>
                <a class="btn flex-1" href="/api/auth/login">Login</a>
                {{/isntEmpty}}
            </div>
        </div>
        <div>
            <h4>Product</h4>
            <a href="/help">Help Center</a>
            {{#isntEmpty user}}
            <a href="/dashboard">Dashboard</a>
            <a href="/api/auth/logout">Logout</a>
            {{else}}
            <a href="/api/auth/signup">Register</a>
            <a href="/api/auth/login">Login</a>
            {{/isntEmpty}}
        </div>
        {{#if user.admin}}
        <div>
            <h4>Admin</h4>
            <a href="#">Management</a>
            <a href="#">Schools</a>
            <a href="#">Students</a>
            <a href="#">Projects</a>
        </div>
        {{/if}}
        <div>
            <h4>Development</h4>
            <a href="https://github.com/sqwyer/power-tools/issues">Bug Reports</a>
            <a href="mailto:570000826@nlrsd.org">Contact</a>
            <a href="https://github.com/sqwyer/power-tools">Source</a>
        </div>
        <div>
            <h4>Project</h4>
            <a href="/info/team">Team Members</a>
            <a href="/info">Project Information</a>
            <a href="/blog">Articles</a>
            {{!-- <a href="#">Deadlines</a> --}}
        </div>
    </div>
    {{!-- <div class="bottom">
        <a href="https://eastinitiative.org"><img src="/public/logo.png"></a>
    </div> --}}
</footer>