<select class="minimal" name="school" type="text" required>
    <option>Unselected</option>
    <option>Academies at Rivercrest High School</option>
    <option>Acorn High School</option>
    <option>Ahlf Junior High School</option>
    <option>Alpena High School</option>
    <option>Annie Camp Junior High School</option>
    <option>Arkadelphia High School</option>
    <option>Arkansas High School</option>
    <option>Arkansas Middle School</option>
    <option>Arkansas School for the Blind</option>
    <option>Arkansas Virtual Academy High School</option>
    <option>Arkansas Virtual Academy Middle School</option>
    <option>Armorel High School</option>
    <option>Barton High School</option>
    <option>Batesville High School Charter</option>
    <option>Batesville Junior High School</option>
    <option>Bauxite Schools</option>
    <option>Bayyari Elementary School</option>
    <option>Beebe Junior High School</option>
    <option>Beebe Middle School</option>
    <option>Benton High School</option>
    <option>Benton Junior High School</option>
    <option>Benton Middle School</option>
    <option>Bentonville High School</option>
    <option>Bentonville West High School</option>
    <option>Berryville High School</option>
    <option>Bismarck High School</option>
    <option>Blytheville High School</option>
    <option>Bob Folsom Elementary School</option>
    <option>Brinkley High School</option>
    <option>Brookland High School</option>
    <option>Brookland Junior High School</option>
    <option>Buffalo Island Central High School</option>
    <option>Buffalo Island Central Junior High School</option>
    <option>Cabot High School</option>
    <option>Calico Rock High School</option>
    <option>Carver Magnet Elementary School</option>
    <option>Cave City High Career and Collegiate Preparatory School</option>
    <option>Cedar Ridge Elementary School</option>
    <option>Cedar Ridge High School</option>
    <option>Cedarville High School</option>
    <option>Central High School</option>
    <option>Central Junior High School</option>
    <option>Clinton High School</option>
    <option>Conwell Egan Catholic High School</option>
    <option>Cossatot River High School</option>
    <option>Cross County High a New Tech School</option>
    <option>Crossett High School</option>
    <option>Crossett Middle School</option>
    <option>Cutter-Morning Star High School</option>
    <option>Dardanelle High School</option>
    <option>Des Arc High School</option>
    <option>DeWitt High School</option>
    <option>Dierks High School</option>
    <option>Don Roberts Elementary School</option>
    <option>Don Tyson School of Innovation</option>
    <option>Douglas MacArthur Junior High School</option>
    <option>Dover High School</option>
    <option>Dover Middle School</option>
    <option>Drew Central High School</option>
    <option>Dumas High School</option>
    <option>Dumas Junior High School</option>
    <option>Dunbar Magnet Middle School</option>
    <option>Eagle Mountain Magnet Elementary School</option>
    <option>East Poinsett County High School</option>
    <option>El Dorado High School</option>
    <option>England Elementary School</option>
    <option>England High School</option>
    <option>eStem East Village Junior High Public Charter School</option>
    <option>eStem High School</option>
    <option>eStem Junior High Public Charter School</option>
    <option>Eureka Springs Elementary School</option>
    <option>Eureka Springs High School</option>
    <option>Farmington High School</option>
    <option>Farmington Junior High School</option>
    <option>Fordyce High School</option>
    <option>Foreman High School</option>
    <option>Founders Classical Academies of Arkansas West Little Rock</option>
    <option>Fountain Lake Charter High School</option>
    <option>Genoa Central High School</option>
    <option>Gentry High School</option>
    <option>Gentry Intermediate School</option>
    <option>George Elementary School</option>
    <option>George Junior High School</option>
    <option>Global High School</option>
    <option>Gosnell Elementary School</option>
    <option>Gravette High School</option>
    <option>Green Forest Schools</option>
    <option>Greenbrier High School</option>
    <option>Greenbrier Junior High School</option>
    <option>Greenbrier Middle School</option>
    <option>Greene County Technical High School</option>
    <option>Greenland High School</option>
    <option>Gurdon High School</option>
    <option>Hackett High School</option>
    <option>Hackler Intermediate School</option>
    <option>Hamburg High School</option>
    <option>Hamburg Middle School</option>
    <option>Hampton High School</option>
    <option>Har-Ber High School</option>
    <option>Harp Elementary School</option>
    <option>Harrisburg Elementary School</option>
    <option>Harrisburg High School</option>
    <option>Harrison High School Conversion Charter</option>
    <option>Harrison Middle School</option>
    <option>Helen Tyson Middle School</option>
    <option>Hellstern Middle School</option>
    <option>Hermitage High School</option>
    <option>Hope Academy of Public Service</option>
    <option>Hope High School</option>
    <option>Horatio High School</option>
    <option>Hot Springs Junior Academy</option>
    <option>Hot Springs World Class High School</option>
    <option>Hoxie High School</option>
    <option>Hunt Elementary School</option>
    <option>Huntsville High School</option>
    <option>Huntsville Middle School</option>
    <option>International Studies Magnet School</option>
    <option>Izard Co. Cons. High School</option>
    <option>J William Fulbright Junior High School</option>
    <option>J.A. Fair K8 Preparatory School</option>
    <option>J.O. Kelly Middle School</option>
    <option>Jerry Pop Williams Elementary School</option>
    <option>Jessieville High School</option>
    <option>Joe T. Robinson High School</option>
    <option>Joe T. Robinson Middle School</option>
    <option>John Tyson Elementary School</option>
    <option>Jones Elementary School</option>
    <option>Kiamichi Technology Centers - Eufaula High School</option>
    <option>Kiamichi Technology Centers - McAlester</option>
    <option>Kiamichi Technology Centers - Talihina</option>
    <option>Lake Hamilton High School</option>
    <option>Lakeside High School (Hot Springs)</option>
    <option>Lakeside High School (Lake Village)</option>
    <option>Lakeside Junior High School (Hot Springs)</option>
    <option>Lakeside Junior High School (Springdale)</option>
    <option>Lakeside Middle School (Hot Springs)</option>
    <option>Lakeside Middle School (Lake Village)</option>
    <option>Lamar High School</option>
    <option>Lawson Elementary School</option>
    <option>Lee High School</option>
    <option>Lincoln High School</option>
    <option>Lincoln Junior High School</option>
    <option>Lincoln Middle School</option>
    <option>Linda Childers Knapp Elementary School</option>
    <option>Little Rock Hall Steam Magnet High School</option>
    <option>Little Rock Southwest High School</option>
    <option>Lonoke High School</option>
    <option>Lonoke Middle School</option>
    <option>Mabelvale Middle School</option>
    <option>Magazine High School</option>
    <option>Magnet Cove High School</option>
    <option>Magnolia High School</option>
    <option>Malvern Elementary School</option>
    <option>Malvern High School</option>
    <option>Malvern Middle School</option>
    <option>Manila Elementary School</option>
    <option>Manila High School</option>
    <option>Mann Magnet Middle School</option>
    <option>Mansfield High School</option>
    <option>Marshall High School</option>
    <option>Maumelle Charter High School</option>
    <option>Maumelle High School</option>
    <option>Maumelle Middle School</option>
    <option>McCrory High School</option>
    <option>Midland Elementary School</option>
    <option>Midland High School</option>
    <option>Mills University Studies High School</option>
    <option>Mineral Springs High School</option>
    <option>Monitor Elementary School</option>
    <option>Monticello High School</option>
    <option>Monticello Intermediate School</option>
    <option>Monticello Middle School</option>
    <option>Morrilton Senior High School</option>
    <option>Mountain Home Career Academies</option>
    <option>Mountain Pine High School</option>
    <option>Mountain View High School</option>
    <option>Mt. Vernon-Enola High School</option>
    <option>Mulberry High School</option>
    <option>Murfreesboro High School</option>
    <option>Nashville High School</option>
    <option>Nettleton High School</option>
    <option>Nettleton Junior High School</option>
    <option>Nettleton STEAM School</option>
    <option>North Little Rock High School</option>
    <option>North Little Rock Middle School</option>
    <option>Northeast Tech - Claremore</option>
    <option>Northside High School</option>
    <option>Northwest Arkansas Community College</option>
    <option>Northwest Technical Institute</option>
    <option>Oak Grove Middle School</option>
    <option>Oaklawn Stem Magnet School</option>
    <option>Omaha High School</option>
    <option>Osceola High School</option>
    <option>Paragould High School</option>
    <option>Paragould Junior High School</option>
    <option>Parson Hills Elementary School</option>
    <option>Pinkston Middle School</option>
    <option>Pinnacle View Middle School</option>
    <option>Pottsville High School</option>
    <option>Pottsville Junior High School</option>
    <option>Prairie Grove High School</option>
    <option>Prairie Grove Junior High School</option>
    <option>Prescott High School</option>
    <option>Pulaski Heights Middle School</option>
    <option>Quitman High School</option>
    <option>Randall G Lynch Middle School</option>
    <option>Rison Schools</option>
    <option>Riverside High School</option>
    <option>Robert F. Morehead Middle School</option>
    <option>Russellville High School</option>
    <option>Russellville Junior High School</option>
    <option>Scott Charter School</option>
    <option>Searcy High School</option>
    <option>Sonora Elementary School</option>
    <option>Sonora Middle School</option>
    <option>South Side High School (Bee Branch)</option>
    <option>Southside Charter High School (Batesville)</option>
    <option>Southside Junior High School (Batesville)</option>
    <option>Southwest Junior High School</option>
    <option>Southwood High School</option>
    <option>Springdale High School</option>
    <option>Star City High School</option>
    <option>Star City Middle School</option>
    <option>Strong-Huttig Schools</option>
    <option>Sulphur Rock Magnet Elementary School</option>
    <option>Sylvan Hills Junior High School</option>
    <option>Sylvan Hills High School</option>
    <option>Sylvan Hills Middle School</option>
    <option>The Academies at Jonesboro High School</option>
    <option>The Generator</option>
    <option>Thurman G. Smith Elementary School</option>
    <option>Tri County Tech - Bartlesville</option>
    <option>Turnbow Elementary School</option>
    <option>Two Rivers High School</option>
    <option>Valley View High School</option>
    <option>Valley View Junior High School</option>
    <option>Vilonia High School</option>
    <option>Viola High School</option>
    <option>Walker Elementary School</option>
    <option>Walnut Ridge High School</option>
    <option>Warren High School</option>
    <option>Washington Junior High School</option>
    <option>West Fork High School</option>
    <option>West Fork Middle School</option>
    <option>West Side Elementary School (Greers Ferry)</option>
    <option>West Side High School (Greers Ferry)</option>
    <option>Westside High School (Jonesboro)</option>
    <option>Westside Middle School (Jonesboro)</option>
    <option>Westwood Elementary School</option>
    <option>White Hall High School</option>
    <option>White Hall Middle School</option>
    <option>Willis Shaw Elementary School</option>
    <option>Wilson Intermediate School</option>
    <option>Wonderview High School</option>
    <option>Woodlawn High School</option>
    <option>Wynne High School</option>
    <option>Wynne Intermediate School</option>
    <option>Wynne Junior High School</option>
    <option>Yerger Junior High School</option>
</select>