<div class="col short" id="sidebar">
    <a class="btn">General</a>
    <a class="btn">Tasks</a>
    <a class="btn">Members</a>
    <a class="btn">Roles</a>
    <a class="btn">Settings</a>
    <a class="btn">Calendar</a>
</div>

<script>
    let s = document.getElementById('sidebar');

    [...s.children].forEach((child, index) => {

        child.id = `sidebar-${index}`;

        if(window.location.pathname.split('/').length >= 4 && window.location.pathname.split('/')[3] == index) child.classList.add('active');
        else if(window.location.pathname.split('/').length < 4) document.getElementById('sidebar-0').classList.add('active');
        if(index != 0) child.setAttribute('href', `/project/${window.location.pathname.split('/')[2]}/${index}`);
        else child.setAttribute('href', `/project/${window.location.pathname.split('/')[2]}`);
    });

    if(window.location.pathname.split('/').length <= 3) document.getElementById('sidebar-0').classList.add('active');
</script>
