<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/globals.css">
    <link rel="stylesheet" href="/public/dashboard.css">
    <title>Power Tools</title>
</head>
<body>
    <div class="nav">
        <a class="title" href="/">PowerTools</a>
        <div class="links">
            <a href="#">Articles</a>
            <a href="#">Help Center</a>
            <a href="/dashboard">Dashboard</a>
            <a class="btn" href="/api/auth/logout">Logout</a>
        </div>
    </div>
    <div class="container">
        <h2 class="push-up-small">My Projects <a href="#">(Create New Project)</a></h2>
        <div class="row gapped">
            <div class="col shortened">
                <h4 class="push-up-small">Project Name</h4>
                <p class="push-up-small">This is just a typical EAST project... nothing to see here...</p>
                <button class="btn primary block">Manage</button>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="push-up-small">Invites</h2>
        <div class="row gapped">
            <div class="col shortened">
                <h4 class="push-up-small">Project Name</h4>
                <p class="push-up-small">This is just a typical EAST project... nothing to see here...</p>
                <div class="row gapped" style="width: 100%">
                    <button class="btn success flex-1">Accept</button>
                    <button class="btn danger flex-1">Deny</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-row">
            <div class="main">
                <h2>Power Tools</h2>
                <p>A platform which makes it easier for students in EAST to manage their projects; solo or in a group setting.</p>
                <div class="flex-row gapped">
                    <a class="btn" href="/api/auth/logout">Logout</a>
                </div>
            </div>
            <div>
                <h4>Product</h4>
                <a href="/dashboard">Dashboard</a>
                <a href="#">Help Center</a>
                <a href="/api/auth/logout">Logout</a>
            </div>
            <div>
                <h4>Development</h4>
                <a href="#">Branding Guide</a>
                <a href="#">Bug Reports</a>
                <a href="#">Source</a>
            </div>
            <div>
                <h4>Project</h4>
                <a href="#">Team Members</a>
                <a href="#">Project Roadmap</a>
                <a href="#">Articles</a>
                <a href="#">Deadlines</a>
            </div>
        </div>
        <div class="bottom">
            <a href="https://eastinitiative.org"><img src="/public/logo.png"></a>
        </div>
    </footer>
</body>
</html>