<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/globals.css">
    <link rel="stylesheet" href="/public/index.css">
    <title>Power Tools</title>
</head>
<body>
    <div class="nav">
        <a class="title" href="/">PowerTools</a>
        <div class="links">
            <a href="#">Articles</a>
            <a href="#">Help Center</a>
            <a href="/api/auth/register">Register</a>
            <a href="/api/auth/login" class="btn">Login</a>
        </div>
    </div>
    <header>
        <h1>Manage your EAST projects.</h1>
        <p class="push-up">PowerTools is a platform which makes it easier for students in EAST to manage their projects; solo or in a group setting.</p>
        <div class="row gapped w-80 middle">
            <button class="btn" onclick="window.open('/api/auth/signup', '_self')">Register</button>
            <button class="btn" onclick="window.open('/api/auth/login', '_self')">Login</button>
        </div>
    </header>
    {{!-- <div class="row gapped w-80">
        <div class="col text-center">
            <p class="push-up">Create and manage EAST projects efficiently.</p>
            <button class="btn push-down block primary">Learn More</button>
        </div>
        <div class="col text-center">
            <p class="push-up">Share project information with team members.</p>
            <button class="btn push-down block primary">Learn More</button>
        </div>
        <div class="col text-center">
            <p class="push-up">No ads, no paywalls, nothing... ever.</p>
            <button class="btn push-down block primary">Learn More</button>
        </div>
        <div class="col text-center">
            <p class="push-up">Developed entirely by EAST students.</p>
            <button class="btn push-down block primary">Read More</button>
        </div>
    </div> --}}
    <footer>
        <div class="main">
            <h2>Power Tools</h2>
            <p>A platform which makes it easier for students in EAST to manage their projects; solo or in a group setting.</p>
            <div class="flex-row gapped">
                <a class="btn flex-1" href="/api/auth/register">Register</a>
                <a class="btn flex-1" href="/api/auth/login">Login</a>
            </div>
        </div>
        <div>
            <h4>Product</h4>
            <a href="#">Help Center</a>
            <a href="#">Register</a>
            <a href="#">Login</a>
        </div>
        <div>
            <h4>Development</h4>
            <a href="#">Branding Guide</a>
            <a href="#">Bug Reports</a>
            <a href="#">Source</a>
        </div>
        <div>
            <h4>Project</h4>
            <a href="#">Team Members</a>
            <a href="#">Project Roadmap</a>
            <a href="#">Articles</a>
            <a href="#">Deadlines</a>
        </div>
    </footer>
</body>
</html>