<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/globals.css">
    <link rel="stylesheet" href="/public/index.css">
    <link rel="stylesheet" href="/public/form.css">
    <title>Power Tools</title>
</head>
<body>
    {{> nav}}
    <form action="/api/auth/signup" method="POST">
        <label for="name">Full Name</label>
        <input name="name" type="text" placeholder="John Doe" required>
        <label for="email">Email</label>
        <input name="email" type="email" placeholder="johndoe@gmail.com" required>
        <label for="email">Graduation Year</label>
        <input name="graduates" type="number" id="graduates" required>
        <label for="password">Password</label>
        <input name="password" type="password" placeholder="••••••••" required>
        <button class="btn primary">Register</button>
        <p>Already have an account? <a href="/api/auth/login">Login</a></p>
    </form>
    {{> footer}}

    <script>
        document.getElementById('graduates').setAttribute('placeholder', new Date().getFullYear()+1);
    </script>
</body>
</html>