* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: rgb(19,112,243);
    text-decoration: underline;
}

#page {
    position: relative;
    min-height: 100vh;
}

.container {
    padding: 2em 3em;
}

.nav {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 2em 3em;
    justify-content: center;
}

.nav .links {
    margin: auto 0 auto auto;
}

.nav a {
    cursor: pointer;
    text-decoration: none;
    transition: 0.1s;
}

.nav a:not(.btn) {
    color: #666666;
}

.nav a:not(.btn):hover {
    color: #000;
}

.nav .title {
    font-weight: bolder;
    color: #000!important;
    font-size: 110%;
}

.nav .links a:not(:first-child) {
    margin-left: 2em;
}

.btn {
    padding: 0.5em 1.5em 0.5em 1.5em;
    border: 2px solid #000;
    border-radius: 4px;
    color: #000;
    font-weight: 500;
    transition: 0.1s;
    background: #fff;
    font-size: 100%;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    color: #fff;
    background: #000;
}

.row {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
}

.gapped {
    gap: 20px;
}

.col {
    flex: 1;
    padding: 2em 1.25em;
    border: 1px solid #eee;
    border-radius: 4px;
    flex-direction: column;
    display: flex;
}

.w-80 {
    width: 80vw;
}

.text-center {
    text-align: center;
}

.push-down {
    margin-top: auto;
}

.push-up {
    margin-bottom: 2em;
}

.push-up-small {
    margin-bottom: 1em;
}

.col.shortened {
    flex-basis: 20%;
    flex: initial;
}

.block {
    display: block;
    width: 100%;
}

.btn.primary {
    border: 2px solid rgb(19,112,243);
    color: rgb(19,112,243);
    box-shadow: 0px 0px 5px 5px rgba(19,112,243,0.1);
}

.btn.primary:hover {
    background: rgb(19,112,243);
    color: #fff;
}

.btn.success {
    border: 2px solid rgb(43, 227, 124);
    color: rgb(43, 227, 124);
    box-shadow: 0px 0px 5px 5px rgba(43, 227, 124, 0.1);
}

.btn.success:hover {
    background: rgb(43, 227, 124);
    color: #fff;
}

.btn.danger {
    border: 2px solid rgb(227, 43, 43);
    color: rgb(227, 43, 43);
    box-shadow: 0px 0px 5px 5px rgba(227, 43, 43, 0.1);
}

.btn.danger:hover {
    background: rgb(227, 43, 43);
    color: #fff;
}

.middle {
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.flex-1 {
    flex: 1;
}

footer {
    display: flex;
    margin-top: auto;
    gap: 10px;
    border-top: 1px solid #eee;
    left: 0;
    margin-left: 0!important;
    margin-right: 0;
    flex-direction: column;
}

.footer-row {
    padding: 2em 3em;
    display: flex;
    margin-top: auto;
    gap: 10px;
    border-top: 1px solid #eee;
}

footer .btn {
    background: inherit;
}

footer p, footer a {
    color: #666666;
}

footer .main {
    flex: 1;
}

footer .main * {
    max-width: 20vw;
}

footer .footer-row div *:not(:first-child) {
    margin-top: .5em;
}

footer .footer-row div {
    padding: 2em 3em;
}

footer a:not(.main a) {
    text-decoration: underline;
    display: block;
}

footer a:hover {
    color: #000;
}

footer .main div {
    padding: 1em 0;
}

footer .main a {
    text-decoration: none;
    padding: .5em 1.5em;
}

footer .bottom {
    background: #fafafa;
    padding: 1.5em 6em;
}

footer .bottom img {
    filter: invert();
    opacity: 0.2;
    max-height: 5vh;
    transition: 0.1s;
    cursor: pointer;
}

footer .bottom img:hover {
    opacity: 0.3;
}

@media only screen and (max-width: 1050px) {
    footer .btn {
        display: block;
    }
}

@media only screen and (max-width: 1000px) {
    .nav .links *:not(.important) { display: none }
    footer .btn { display: initial; }
    footer .footer-row {
        flex-direction: column;
    }

    footer .footer-row div {
        flex: 1;
    }

    footer .footer-row .main * {
        max-width: 100%;
    }
    .left-on-small {
        text-align: left;
        margin: inherit 0;
        justify-content: left;
    }
}