header {
    padding: 2em 6em;
}

.exheader {
    color: #aaa;
    font-weight: normal;
}

.quote {
    padding: 0.5em 1em;
    border-left: 3.5px solid #eee;
}

@media only screen and (max-width: 900px) {
    header {
        padding: 2em 3em;
    }
}