.month {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.week {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.day {
    flex: 1;
    max-width: 14%;
    padding: 1.5em;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
    border: 1.5px solid #eee;
}

.today {
    background: rgb(43, 227, 124);
    border: 1.5px solid rgb(43, 227, 124);
}

.day:not(.today):hover {
    background: #f0f0f0;
}