.month {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.week {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.day {
    flex: 1;
    padding: 1.5em;
    text-align: center;
    border-radius: 0;
    font-weight: bold;
    cursor: pointer;
    border: 1.5px solid #eee;
}
.week.head .day, .week .day.blank {
    cursor: inherit;
}
.today {
    background: rgb(43, 227, 124);
    border: 1.5px solid rgb(43, 227, 124);
}

.week.head .day {
    background: #FF5733!important;
    border: 1.5px solid #FF5733;
}

.day.today, .day:not(.blank):hover {
    background: #eee;
}

.day.today {
    border: 1.5px solid #ddd;
    background: #eee;
}

.day p {
    text-align: left;
}

.day p:not(:first-child) {
    font-weight: 500;
}

h2.flex {
    display: flex;
    flex-direction: row;
}

.left {
    margin-right: auto;
}

.center {
    margin: inherit auto;
}

.right {
    margin-left: auto;
}