.month {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.week {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.day {
    flex: 1;
    max-width: 14%;
    padding: 1.5em;
    text-align: center;
    border-radius: 0;
    font-weight: bold;
    cursor: pointer;
    border: 1.5px solid #eee;
}
.week.head .day {
    cursor: inherit;
}
.today {
    background: rgb(43, 227, 124);
    border: 1.5px solid rgb(43, 227, 124);
}

.day:not(.today):hover, .week.head .day {
    background: #eee;
}